{% extends "visualize/base.html" %}
{% load django_bootstrap5 %}
{% load static %}

{% block content %}
  
  <div style="width: 500px; float: left;">
    <form action="{% url 'visualize:index' %}" method="post">
      {% csrf_token %}
      {% bootstrap_form form %}

      {% bootstrap_button "Draw" button_type="submit" button_class="btn-primary" %}
    </form>
  </div>

  <!--
  <div style="width: 500px; float: left">

    <form action="{% url 'visualize:index' %}" method="post">
      {% csrf_token %}

      <pre id="editor"></pre>
      <script src="{% static 'ace/src/ace.js' %}" type="text/javascript" charset="utf-8"></script>
      <style>
        .ace_editor {
          width: 100%;
          height: 400px;
        }
      </style>
      <script>
        var editor = ace.edit("editor");
        var textarea = $('textarea[name="editor"]');
        editor.getSession().on("change", function () {
            textarea.val(editor.getSession().getValue());
        });
      </script>

      {% bootstrap_button "Draw" button_type="submit" button_class="btn-primary" %}
    </form>
  </div>
  -->

  <div style="width: 500px; float: right;">
    {% autoescape off %}
      {{ graph_svg }}
    {% endautoescape %}
  </div>

{% endblock content %}